{% extends "cust_layout.html" %} {% block title %}Welcome to Tour Haven{% endblock %}
{% load static %}
{% block body %}
<main class="py-10 px-20">
  <section class="h-[80vh] relative w-full rounded-xl">
    <div class="absolute -z-50 w-full h-full object-cover overflow-clip flex flex-row items-center justify-center rounded-4xl">
      <img src="{% static 'images/home.jpg' %}" alt="" class="w-full">
    </div>
    <div class="flex flex-col items-start justify-center h-full space-y-10 pl-20 text-white">
      <p class="text-5xl">Welcome</p>
      <h2 class="font-semibold text-6xl">Plan your next adventure with us</h2>
      <p class="text-2xl">Find your dream destination</p>
    </div>
  </section>
  <section class="flex items-center justify-center pt-6">
    <form action="{% url 'customer:search' %}" method="POST" class="w-1/2 border border-gray-600 rounded-full px-6 py-3 flex flex-row items-center justify-start ">
      {% csrf_token %}
      {{ search_form.search_item }}
      <img src="{% static 'icons/search.svg' %}" alt="" width="30px">
    </form>
  </section>
  <section class="py-8 space-y-6 ">
    <h3 class="font-semibold text-2xl">Top destinations</h3>
    <div class="grid grid-cols-4 gap-10">
      {% for package in packages %}
      <a href="{% url 'customer:package' slug=package.slug %}" class="flex flex-col items-start space-y-4 w-[300px] h-[300px]">
        <img src="/media/{{ package.image }}" alt="destination image" class="w-full rounded-md aspect-[16/12]">
        <h2 class="font-semibold text-lg">{{ package.title }}</h2>  
      </a>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
