{% extends "cust_layout.html" %} {% block title %}Welcome to Tour Haven{% endblock %}
{% load static %}
{% block body %}
<main class="flex flex-col items-center">
  <div class="space-y-6 px-16 py-8 w-[80vw]">
    <h1 class="font-bold text-3xl">{{ package.title }}</h1>
    <section class="flex flex-row items-start justify-start space-x-8 ">
      <img src="/media/{{ package.image }}" alt="" class="aspect-[16/10] w-[800px] rounded-2xl">
      <div class="space-y-6">
        <h3 class="font-bold text-2xl">Request a quote</h3>
        {% if submitted %}
        <p class="w-3/4 bg-[#2094A1] px-8 py-3 text-center text-white rounded-2xl">Your form was submitted.</p>
        {% endif %}
        {{form.errors}}
        <form action="{% url 'customer:package' slug=package.slug %}" method="POST" class="space-y-4 h-full flex flex-col justify-between">
          {% csrf_token %}
          <div class="flex flex-row space-x-4">
            <div class="flex flex-col gap-y-2">
              <label for="fname">Firstname:</label>
              {{form.fname}}
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="lname">Lastname:</label>
              {{form.lname}}
            </div>
          </div>
          <div class="flex flex-col gap-y-2">
            <label for="email">Email:</label>
            {{form.email}}
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex flex-col gap-y-2">
              <label for="date_chosen">Date:</label>
              {{form.date_chosen}}
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="nights_no">Number of nights:</label>
              {{form.nights_no}}
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex flex-col gap-y-2">
              <label for="adults_no">Number of Adults:</label>
              {{form.adults_no}}
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="child_no">Number of Children:</label>
              {{form.child_no}}
            </div>
          </div>
          <button type="submit" class="text-center text-white py-4 w-full bg-[#2094A1] rounded-xl hover:cursor-pointer">
            Submit Request
          </button>
        </form>
      </div>
    </section>
    <section class="flex flex-row items-start justify-start space-x-8">
      <div class="space-y-6 w-[800px]">
        <h3 class="font-bold text-2xl">Description</h3>
        <p class="w-3/4">{{ package.description}}</p>
      </div>
      <form action="{% url 'customer:add_review' slug=package.slug %}" method="POST" class="space-y-6">
        {% csrf_token %}
        <p class="font-bold text-2xl">Leave a review</p>
        <div class="flex flex-row items-start justify-start space-x-4">
          <label for="name" class="w-[60px]">Name:</label>
          {{ review_form.name}}
        </div>
        <div class="flex flex-row items-start justify-start space-x-4">
          <label for="email" class="w-[60px]">Email:</label>
          {{ review_form.email}}
        </div>
        <div class="flex flex-row items-start justify-start space-x-4">
          <label for="rating" class="w-[60px]">Rating:</label>
          {{ review_form.rating}}
        </div>
        <div class="flex flex-row items-start justify-start space-x-4">
          <label for="body" class="w-[60px]">Body:</label>
          {{ review_form.body}}
        </div>
          <button type="submit" class="text-center text-white py-4 w-full bg-[#2094A1] rounded-xl hover:cursor-pointer">
            Post review
          </button>
      </form>
    </section>
    <section class="space-y-6">
      <h3 class="font-bold text-2xl">Reviews</h3>
      <div class="flex flex-row flex-wrap space-x-6 gap-y-10">
        <div class="flex flex-col space-y-3 w-[440px] px-4 pt-4 pb-6 border border-gray-500 rounded-xl">
          <div class="flex flex-row space-x-4">
            <p>Darrel K</p>
            <div class="flex flex-row">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-empty.svg' %}" alt="" width="20">
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae iste inventore facere doloremque
            vero,
            eveniet nisi consequatur pariatur a cupiditate?</p>
        </div>
        <div class="flex flex-col space-y-3 w-[440px] px-4 pt-4 pb-6 border border-gray-500 rounded-xl">
          <div class="flex flex-row space-x-4">
            <p>Darrel K</p>
            <div class="flex flex-row">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-empty.svg' %}" alt="" width="20">
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae iste inventore facere doloremque
            vero,
            eveniet nisi consequatur pariatur a cupiditate?</p>
        </div>
        <div class="flex flex-col space-y-3 w-[440px] px-4 pt-4 pb-6 border border-gray-500 rounded-xl">
          <div class="flex flex-row space-x-4">
            <p>Darrel K</p>
            <div class="flex flex-row">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-empty.svg' %}" alt="" width="20">
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae iste inventore facere doloremque
            vero,
            eveniet nisi consequatur pariatur a cupiditate?</p>
        </div>
        <div class="flex flex-col space-y-3 w-[440px] px-4 pt-4 pb-6 border border-gray-500 rounded-xl">
          <div class="flex flex-row space-x-4">
            <p>Darrel K</p>
            <div class="flex flex-row">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-full.svg' %}" alt="" width="20">
              <img src="{% static 'icons/star-empty.svg' %}" alt="" width="20">
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae iste inventore facere doloremque
            vero,
            eveniet nisi consequatur pariatur a cupiditate?</p>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
